Source: php-vitexsoftware-ease-bootstrap4-widgets-abraflexi
Build-Depends: debhelper (>= 7.0.50~),php-apigen
Standards-Version: 4.3.0
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/VitexSoftware/php-ease-twbootstrap4-widgets-abraflexi

Package: php-vitexsoftware-ease-bootstrap4-widgets-abraflexi
Depends: ${misc:Depends},php-vitexsoftware-abraflexi-bricks,php-vitexsoftware-ease-bootstrap4-widgets
Suggests: php-spojenet-abraflexi-doc,php-vitexsoftware-abraflexi-bricks-doc
Architecture: all
Section: web
Priority: optional
Description: PHP Based Abraflexi RestAPI/Json library AddOns
 Additional classess and code snipplets for AbraFlexi library

#Package: php-vitexsoftware-ease-bootstrap4-widgets-abraflexi-doc
#Depends: ${misc:Depends}
#Suggests: www-browser
#Architecture: all
#Section: doc
#Priority: optional
#Description: PHP Based Abraflexi RestAPI/Json library Addons documentation
# ApiGen html documentation for AbraFlexi Bricks php library
